
:root {
    --themeStrong: #333333;
    --themeOff: #27243d;
    --themeMed: #27203894;
    --themeO: #dd38d5c2;
    --themeX: #3b2bc7a8;

    --player1icon: url("./cross-svgrepo-com.svg");
    --player2icon: url("./circle-svgrepo-com.svg");
}
@font-face {
    font-family: 'Lekton';
    src: url('fonts/Lekton-Bold.woff2') format('woff2'),
        url('fonts/Lekton-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lekton';
    src: url('fonts/Lekton-Italic.woff2') format('woff2'),
        url('fonts/Lekton-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lekton';
    src: url('fonts/Lekton-Regular.woff2') format('woff2'),
        url('fonts/Lekton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: Lekton,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    height: 100vh;
    display: grid;
    grid-template-columns: [left-start] 0.3fr [left-end] auto [right-start] 0.3fr [right-end];
    grid-template-rows: [top-start] 0.2fr [top-end] auto [bottom-start] 0.4fr [bottom-end];
    background-color: var(--themeStrong);
    color: #FFF;
}

main {
    grid-column: left-end / right-start;
    grid-row: top-end / bottom-start;
}


div.center-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.3rem, 2vw, 0.8rem);
}

article.board {
    --board-size: clamp(250px, 45vw, 45vh);
    --corner: 16px;

    height: var(--board-size);
    width: var(--board-size);
    margin-bottom: 1vh;
    box-shadow: 8px 8px 12px 6px #1b1b1ba8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 16px;
    padding: 12px;
    background: #ff9500;
    background: linear-gradient(51deg, rgba(255, 149, 0, 1) 4%, rgba(199, 87, 197, 1) 24%, rgba(0, 238, 255, 1) 71%, rgb(171, 247, 101) 88%);

    .cell:first-child {
        border-radius: var(--corner) 0 0 0;
    }
    .cell:nth-child(3) {
        border-radius: 0 var(--corner) 0 0;
    }
    .cell:nth-child(7) {
        border-radius: 0 0 0 var(--corner);
    }
    .cell:nth-child(9) {
        border-radius: 0 0 var(--corner) 0;
    }
}

article div.cell {
    color: #ffffff00;
    min-height: 30px;
    width: auto;
    margin: 1px;
    position: relative;
    background: rgba(39, 39, 39, 0.856);
    background: linear-gradient(141deg, rgba(39, 39, 39, 0.856) 34%, rgba(27, 27, 27, 0.425) 45%, rgba(37, 37, 37, 0.85) 56%);
    background-attachment: fixed;
    background-size: 100%;
}
article div.cell.selected1, article div.cell.selected2 {
    background: rgba(39, 39, 39, 0.856);
}
main.center article div.cell.selected1 {
    background-color: var(--themeX);
    box-shadow: 0 0 11px 2px rgb(139, 126, 255);
}
main.center article div.cell.selected2 {
    background-color: var(--themeO);
    box-shadow: 0 0 11px 2px rgb(255 128 249);
}
article div.cell.selected1::before, article div.cell.selected2::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

article div.cell.selected1::before {
    background-image: var(--player1icon); 
}

article div.cell.selected2::before {
    background-image: var(--player2icon);
}

article div.cell:hover {
    /* border: none; */
    background-color: rgba(39, 39, 39, 0.726);
    background-image: none;
    transition: 0.3s scale;
    border: 2px solid #FFF;
    border-radius: var(--corner);
    scale: 1.1;
    z-index: 5;
}

main.center article div.cell:active {
    border-color: rgba(110, 255, 43, 0.836);
    transform: rotate(360deg);
    transition: 0.15s transform ease-in-out;
}

main.center article div.cell.selected1:active, main.center article div.cell.selected2:active {
    border-color: rgba(255, 89, 89, 0.664);
    transform: none;
}
article div.cell.selected1:hover, article div.cell.selected2:hover {
    scale: 1.05;
}

p.system-msg {
    /* display: none; */
    color: rgb(0, 238, 255);
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 600;
    letter-spacing: 1px;
}

nav {
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 3vw, 2rem);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column-reverse;
        gap: 1rem;
    }
}

nav article.score-display {
    padding: 5px 15px 1vh 15px;
    width: max-content;
    box-shadow: 5px 5px 8px 0px #1b1b1b73;
    display: flex;
    gap: clamp(5px, 0.7vw, 1rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* linear-gradient(90deg, rgba(50, 7, 92, 1) 25%, rgba(17, 38, 198, 1) 70%, rgba(0, 195, 255, 1) 100%) border-box; */
    background: 
        linear-gradient(#2e2e2e) padding-box,
        linear-gradient(to right, rgba(44, 138, 182, 0.795), rgb(206, 192, 66), rgb(190, 96, 59)) border-box;
    border-radius: 12px;
    border: 2px solid transparent;


    div.p-wrapper {
        display: grid;
        /* grid-auto-flow: column; */
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content;
        align-items: center;
        justify-items: left;
        width: min-content;
    }
    p {
        grid-column: 2/3;
        width: max-content;
        padding: clamp(0.3rem, 0.5vw, 0.7rem);
        position: relative;
        left: 0.5em;
    }
    img#p1-icon, img#p2-icon {
        grid-column: 1/2;
        min-height: 1.4em;
        min-width: 1.4em;
        padding: 0.3em;
        border-radius: 100%;
        outline: 1px solid rgb(255, 255, 255);
    }
    img#p1-icon {
        background-color: var(--themeX);
    }
    img#p2-icon {
        background-color: var(--themeO);
    }
    button#edit {
        font-size: 0.9em;
        height: 1.7em;
        padding: 0 0.8em;
    }
    img#p1-icon.next, img#p2-icon.next {
        outline: 2px solid lime;
    }
}

nav div.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: min(1rem, 1vw);
}

nav button {
    font-size: 1rem;
    border: 1px solid #ffffff7c;
    border-radius: 16px;
    padding: 0.5em 1.5em;
    color: white;
    background-color: var(--themeMed);
    transition: 0.3s scale;
    box-shadow: 1px 1px 2px 0px #ffffff;
}

nav button:hover, nav button:active, nav button.off {
    scale: 97%;
    position: relative;
    top: 1px;
    left: 1px;
}

nav button:active {
    scale: 90%;
    box-shadow: none;
    transition: 0.3s box-shadow;
}
nav div#game-edit {
    display: flex;
    gap: clamp(3px, 0.7vw, 1rem);
}
nav button#round {
    border: 2px solid rgba(133, 255, 133, 0.692);
    transition: 0.4s;
    box-shadow: 1px 1px 4px 0px #ccffccbd;
}
nav button#round.off, .off {
    background-color: var(--themeOff);
    opacity: 0.5;
    box-shadow: none;
    border: none;
    transform: rotate(-360deg);
}
nav button.off:active {
    box-shadow: none;
}
nav button.confirm {
    scale: 1.05;
    transition: 0.3s scale;
    border: 2px solid rgba(255, 74, 42, 0.541);
    box-shadow: 1px 1px 4px 0px rgba(255, 95, 67, 0.76);
}

nav .p-wrapper input {
    border-radius: 8px;
    border: none;
    margin: 0px 0.5ch;
    width: 12ch;
    height: 1.5rem;
    display: none;
    padding-left: 7px;
}
nav .p-wrapper input:user-invalid {
    outline: red;
}
nav button#edit {
    box-shadow: 0px 0px 2px 0px #fcc120;
}
nav button#edit.edit-mode {
    width: 6rem;
}


