
:root {
    --themeStrong: #444444;
    --themeMed: #808080;
    --themeLight: #c5c5c5;

    --player1icon: url("./cross-svgrepo-com.svg");
    --player2icon: url("./circle-svgrepo-com.svg");
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: [left-start] 0.3fr [left-end] auto [right-start] 0.3fr [right-end];
    grid-template-rows: [top-start] 0.2fr [top-end] auto [bottom-start] 0.4fr [bottom-end];
}

main {
    grid-column: left-end / right-start;
    grid-row: top-end / bottom-start;
}


div.center-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

article.board {
    --board-size: clamp(35vh, 35vw, 45vh);
    --corner: 16px;

    height: var(--board-size);
    width: var(--board-size);
    box-shadow: 8px 8px 12px 6px #1b1b1ba8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 16px;
    outline: 12px solid var(--themeStrong);
    background-color: var(--themeStrong);


    .cell:first-child {
        border-radius: var(--corner) 0 0 0;
    }
    .cell:nth-child(3) {
        border-radius: 0 var(--corner) 0 0;
    }
    .cell:nth-child(7) {
        border-radius: 0 0 0 var(--corner);
    }
    .cell:nth-child(9) {
        border-radius: 0 0 var(--corner) 0;
    }
}

article div.cell {
    color: #ffffff00;
    background-color: var(--themeLight);
    min-height: 30px;
    width: auto;
    border: 1px solid black;
    position: relative;
}


article div.cell.selected1 {
    background-color: rgb(151, 151, 255);
}
article div.cell.selected2 {
    background-color: rgb(255, 209, 209);
}
article div.cell.selected1::before, article div.cell.selected2::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

article div.cell.selected1::before {
    background-image: var(--player1icon); 
}

article div.cell.selected2::before {
    background-image: var(--player2icon);
}

article div.cell:hover {
    /* border: none; */
    transition: 0.3s scale;
    border: 3px solid #FFF;
    scale: 1.1;
    z-index: 5;
}

article div.cell:active {
    border-color: green;
    transform: rotate(360deg);
    transition: 0.15s transform ease-in-out;
}

article div.cell.selected1:active, article div.cell.selected2:active {
    border-color: red;
    transform: none;
}
article div.cell.selected1:hover, article div.cell.selected2:hover {
    scale: 1.05;
}

p.system-msg {
    /* display: none; */
    color: green;
    font-size: 1.5rem;
    font-weight: 600;
}

nav {
    height: max(4em, content);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column-reverse;
        gap: 1rem;
    }
}

nav article.score-display {
    padding: 5px 15px 5px 15px;
    background-color: #0000003d;
    border-radius: 8px;
    box-shadow: 3px 3px 9px 0px #44444452;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        padding: clamp(0.3rem, 0.5vw, 0.7rem);
        position: relative;
        left: 0.5em;
    }

    p::before {
        content: "";
        display: block;
        height: 1.4em;
        width: 1.4em;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
        border-radius: 100%;
        background-color: black;
        position: relative;
        left: -1.6em;
        top: 1.6em;
        margin-top: -1.6em;
    }

    p#p1::before {
        background-image: var(--player1icon);
    }
    p#p2::before {
        background-image: var(--player2icon);
    }

    button#edit {
        height: 2em;
        padding: 0 0.5em;
    }
}

nav div.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: min(0.8rem, 0.6vw);
}

nav button {
    font-size: 0.8rem;
    border: 3px solid #ffffff00;
    border-radius: 16px;
    padding: 0.5em 1.5em;
    color: white;
    background-color: var(--themeStrong);
    transition: 0.3s scale;
    box-shadow: 2px 2px 4px 0px #47474794;
}

nav button:hover, nav button:active, nav button#round.off {
    scale: 97%;
    position: relative;
    top: 1px;
    left: 1px;
}

nav button:active {
    scale: 90%;
    box-shadow: none;
    transition: 0.3s box-shadow;
}

nav button#round {
    border: 3px solid green;
    transition: 0.4s;
}

nav button#round.off {
    color: black;
    background-color: var(--themeLight);
    box-shadow: none;
    border: none;
    transform: rotate(360deg);
}
nav button#round.off:active {
    box-shadow: none;
}
